@CHARSET "UTF-8";
table {
    width: 100%;
    border-collapse: collapse;
}

th, td {
    padding: 10px;
    text-align: left;
    border: 1px solid #ddd;
}

th {
    background-color: #f4f4f4;
    font-weight: bold;
}

a {
    color: blue;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

button {
    padding: 5px 10px;
    background-color: #f4f4f4;
    border: 1px solid #ddd;
    cursor: pointer;
}

button:hover {
    background-color: #ddd;
}